*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;

}

body {
    line-height: 1;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #162831;
}

input {
    outline: none;
}

.title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
}
.page {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 67.5vw;
    margin: 0 auto;
    /* padding: 0px 15px; */
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 80vw;
    }
}

/* @media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
    }
} */

@media (max-width: 600px) {
    [class*="__container"] {
        max-width: 95vw;
    }
}
/*? -----HEADER-------------------------------- */

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header__list {
    display: flex;
    gap: 50px;
}
.header__link {
    color: #FFFFFF;
}
.header__link:hover {
    text-decoration: underline;
}
.header__link_btn {
    background-color: #018ABE;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 15px 9px;
}
.header__link_btn:hover {
    background-color: #156c8f;
}
@media (max-width: 1199.98px) {
    .header__body {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 767.98px) {
    .header__list{
       flex-wrap: wrap;
       justify-content: center;
       gap: 30px;
    }
}

/*? -----MAIN-------------------------------- */

.page__main {
    padding-top: 20px;
    padding-bottom: 150px;
}
.main__container {
    background: url(/Images/Main/1.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__content {
 text-align: center;
 max-width: 450px;
}
.main__subtitle {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    position: relative;
}
.main__title {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 64px;
}
.main__subtitle::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    background-color: #FFFFFF;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
}
.main__subtitle::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 10px;
    background: #FFFFFF;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 28px;
    height: 14px;
}
@media (max-width: 600.98px) {
    .main__title {
        font-size: 44px; 
    }
}
@media (max-width: 392.98px) {
    .main__subtitle::before,
    .main__subtitle::after {
        display: none;
    }
}

/*? -----SEANS-------------------------------- */

.seans {
    padding-bottom: 150px;
}
.seans__title {
    padding-bottom: 100px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.seans__title::before {
    position: absolute;
    content: "";
    top: 25px;
    left: -74px;
    background: #018ABE;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
}
.seans__title::after {
    position: absolute;
    content: "";
    top: 25px;
    right: -74px;
    background: #018ABE;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 28px;
    height: 14px;
}
.seans__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 264px 264px; */
    gap: 24px;
}
.seans__img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: relative;
}

.seans__img_wrapper > a {
    display: block;
    height: 100%;
    position: relative;
}

.seans__img_wrapper > a:after{
    content: "";
    width: 100%;
    height: 0px;
    background: #018ABE;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.seans__img_wrapper:hover > a:after{
    height: 10px;
}

.seans__img_wrapper.image_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
}

.seans__link {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    bottom: 40px;
    left: 40px;
    text-align: left;
    z-index: 1;
    font-family: 'El Messiri', sans-serif;
}
@media (max-width: 1000.98px) {
    .seans__gallery { 

       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
   
}
@media (max-width: 1600.98px) { 
    .seans__link {
    font-size: 18px;
}
}
@media (max-width: 981.98px) { 
    .seans__link {
    font-size: 24px;
}
}
@media (max-width: 467.98px) { 
    .seans {
        padding-bottom: 70px;
    }
    .seans__title {
        padding-bottom: 70px;
}
}

/*? -----REVIEWS-------------------------------- */

.reviews {
    padding-bottom: 150px;
}
.reviews__container {
    max-width: 90.5vw;
    overflow: hidden;
}
.reviews__title {
}
.seans__title {
}
/* .reviews__swiper {
}
.swiper-reviews {
}
.swiper {
}
.swiper-wrapper {
    display: flex;
    height: auto;
}
.swiper-reviews__wrapper {
}
.swiper-reviews__slide {
    display: flex;
    flex: 0 0 60%;
    transform: translate3d(0px, 0px, 0px);
}
.slide-swiper-reviews__body {
    background-color: #018ABE;
    border-radius: 10px;
    padding: 50px 60px;
    
}
.slide-swiper-reviews__title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
}
.slide-swiper-reviews__text {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.swiper-reviews__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.swiper-reviews__pagination .swiper-pagination-bullet {
    background-color: rgb(255,255,255, 0.4);
    border-radius: 3px;
    flex: 0 0 14px;
    height: 14px;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
    
}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
    background: #FFFFFF;
    border-radius: 3px;
} */

.slider {
    
}
.slick-list {
    overflow: unset !important;
    overflow-x: hidden;
}
.slick-track {
    display: flex;
    align-items: center;
}
.slide {
    margin: 0 60px;
    height: 350px;
    width: 636px;
    
    background-color: rgb(1,138,190, 0.4);
    border-radius: 10px;
    padding: 50px 60px;
    margin-bottom: 100px;
}
.slick-center {
    transform: scale(1.272);
}

.slide-swiper-reviews__title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    color: rgb(255,255,255, 0.4);
}
.slide-swiper-reviews__text {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: rgb(255,255,255, 0.4);
}
.slick-dots {
   
}
.slick-dots > li {
    background-color: rgb(255,255,255, 0.4);
    border-radius: 3px;
}

.slick-dots li button:before {
   content: "";
   background: #FFFFFF;
   border-radius: 3px;
}
.slick-active{
    color: #FFFFFF;
    background-color: #018ABE;
}
.slick-active>p,
.slick-active>h3{
    color: #FFFFFF; 
}

@media (max-width: 928.98px) { 
    .slick-center {
        transform: unset;
    }
    .slide{
        width: 90vw;
        height: auto;
        padding: 30px 30px;
        text-align: center;
    }
}