*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;

}

body {
    line-height: 1;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #162831;
}

input {
    outline: none;
}

.title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
}

.page {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    /* max-width: 67.5vw; */
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    [class*="__container"] {
        max-width: 960px;
    }
}

/* @media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
    }
} */

@media (max-width: 600px) {
    [class*="__container"] {
        max-width: 570px;
    }
}

/*? -----HEADER-------------------------------- */

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__link {
    color: #FFFFFF;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link_btn {
    background-color: #018ABE;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 15px 9px;
}

.header__link_btn:hover {
    background-color: #156c8f;
}

@media (max-width: 1199.98px) {
    .header__body {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .header__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}

/*? -----MAIN-------------------------------- */

.page__main {
    padding-top: 20px;
    padding-bottom: 150px;
}

.main__container {
    background: url(/Images/Main/1.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content {
    text-align: center;
    max-width: 450px;
}

.main__subtitle {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    position: relative;
}

.main__title {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.main__subtitle::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    background-color: #FFFFFF;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
}

.main__subtitle::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 10px;
    background: #FFFFFF;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 28px;
    height: 14px;
}

@media (max-width: 600.98px) {
    .main__title {
        font-size: 44px;
    }
}

@media (max-width: 392.98px) {

    .main__subtitle::before,
    .main__subtitle::after {
        display: none;
    }
}

/*? -----SEANS-------------------------------- */

.seans {
    padding-bottom: 150px;
}

.seans__title {
    padding-bottom: 100px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.seans__title::before {
    position: absolute;
    content: "";
    top: 25px;
    left: -74px;
    background: #018ABE;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
}

.seans__title::after {
    position: absolute;
    content: "";
    top: 25px;
    right: -74px;
    background: #018ABE;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 28px;
    height: 14px;
}

.seans__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 264px 264px; */
    gap: 24px;
}

.seans__img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: relative;
}

.seans__img_wrapper>a {
    display: block;
    height: 100%;
    position: relative;
}

.seans__img_wrapper>a:after {
    content: "";
    width: 100%;
    height: 0px;
    background: #018ABE;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.seans__img_wrapper:hover>a:after {
    height: 10px;
}

.seans__img_wrapper.image_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.seans__link {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    bottom: 40px;
    left: 40px;
    text-align: left;
    z-index: 1;
    font-family: 'El Messiri', sans-serif;
}

@media (max-width: 1000.98px) {
    .seans__gallery {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 1600.98px) {
    .seans__link {
        font-size: 18px;
    }
}

@media (max-width: 981.98px) {
    .seans__link {
        font-size: 24px;
        top: 50%;
        left: 50%;
        bottom: unset;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 467.98px) {
    .seans {
        padding-bottom: 70px;
    }

    .seans__title {
        padding-bottom: 70px;
    }
}

/*? -----REVIEWS-------------------------------- */

.reviews {
    padding-bottom: 150px;
}

.reviews__container {
    max-width: 90.5vw;
    overflow: hidden;
}

.slick-list {
    overflow: unset !important;
    overflow-x: hidden;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slide {
    margin: 0 60px;
    /* height: 350px;
    width: 636px; */
    height: 276px;
    width: 500px;

    background-color: rgb(1, 138, 190, 0.4);
    border-radius: 10px;
    padding: 50px 60px;
    margin-bottom: 100px;
}

.slick-center {
    transform: scale(1.272);

}

.slick-center>p {
    font-size: 10px;
}

.slide-swiper-reviews__title {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255, 0.4);
}

.slide-swiper-reviews__text {
    text-align: left;
    font-weight: 300;
    font-size: 10px;
    line-height: 140%;
    color: rgb(255, 255, 255, 0.4);
}

.slick-dots>li {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 3px;
}

.slick-dots li button:before {
    content: "";
    background: #FFFFFF;
    border-radius: 3px;
}

.slick-active {
    color: #FFFFFF;
    background-color: #018ABE;
}

.slick-active>p,
.slick-active>h3 {
    color: #FFFFFF;
}

@media (max-width: 928.98px) {
    .slick-center {
        transform: unset;
    }

    .slide {
        width: 90vw;
        height: auto;
        padding: 30px 30px;
        text-align: center;
    }
}

/*? -----ABOUT-------------------------------- */
.about__container {
    /* max-width: 85vw; */
    padding: 0 15px;
}
.about__content_body {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
}

.about__content {
    display: flex;
    gap: 84px;
    padding-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.about__content_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 30px;
}

.about__content_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.about__content_img {
    border-radius: 12px;
    max-width: 100%;
}

@media (max-width: 1357.98px) {
    .about__content {
        display: flex;
        gap: 34px;
    }
}

@media (max-width: 1057.98px) {
    .about__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column__reverse {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 590.98px) {
    .seans__title {
        padding-bottom: 60px;
    }
}

/*? -----PRICE-------------------------------- */

.price__container {
    padding-bottom: 150px;
}

.price__title {
    padding-bottom: 100px;
}

.price__content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 134px;
}

.price__list {
    display: flex;
    gap: 100px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.price__list_li {
    padding-left: 50px;
    padding-bottom: 31px;
    line-height: 140%;
    background: url('Images/Price/2.svg') 0px 5px no-repeat;
}

.price__list_cena {
    font-weight: 700;
    font-size: 18px;
    font-family: 'El Messiri';
    padding-bottom: 33px;
    line-height: 140%;
}

.price__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.price__img>img {
    padding-bottom: 30px;
    border-radius: 69px;
    max-width: 100%;
}

.price__img_text {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 21px;
}

@media (max-width: 1235.98px) {
    .price__content_wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .price__title {
        padding-bottom: 70px;
    }
}

@media (max-width: 531.98px) {
    .price__list {
        gap: 50px;
    }
}

@media (max-width: 424.98px) {
    .price__list {
        font-size: 14px;
        gap: 30px;
    }

    .price__list_cena {
        font-size: 14px;
    }
}

@media (max-width: 550.98px) {
    .price__title {
        padding-bottom: 51px;
    }

    .title {
        font-size: 25px;
    }

    .seans__title::after {
        right: -50px;
        top: 10px;
    }

    .seans__title::before {
        left: -50px;
        top: 10px;
    }

    .about__content_title {
        font-size: 20px;
    }
}

/*? -----MAP-------------------------------- */

.map__container {
    height: 604px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 90px;
    padding: 0 15px;
}
.map__map {
    width: 65.8%;
}
.map__map > * {
    max-width: 100%;
}
.map__info {
    width: 30.5%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.map__content {
    display: flex;
    background: #018ABE;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    padding: 35px 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    
}
.map__title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}
.map__nav_1 {
    padding-left: 35px;
    background: url('Images/Map/1.svg') 0 0 no-repeat;
}
.map__nav_2 {
    padding-left: 35px;
    background: url('Images/Map/2.svg') 0 0 no-repeat;
}
.map__nav_3 {
    padding-left: 35px;
    background: url('Images/Map/3.svg') 0 0 no-repeat;
    padding-bottom: 30px;
}
.map__button {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #018ABE;
    padding: 9px 15px;
    transition: all 0.3s ease;
}
.map__button:hover {
    background-color: #87c1d8;
    color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
    .map__container {
        justify-content: center;
        max-width: 90vw;
        height: unset;
        flex-wrap: wrap;
        align-items: center;
    }
    .map__content {
        min-width: 392px;
    }
    .map__map {
        margin-bottom: 30px;
        width: 100%;
        height: 604px;
       justify-content: center;
       display: flex;
       align-items: center;
     
    }
    .map__info {
        flex-direction: row;
        justify-content: center;
    }
}
@media(max-width: 830px) {
    .map__info {
        flex-wrap: wrap;
    }
}
@media(max-width: 482px) {
    .map__content {
        padding: 20px 25px;
        min-width: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .map__nav_3 {
        padding-bottom: 10px;
    }
    .map__container{
        padding: 0;
    }
    .map__map {
        height: 400px;
    }
    .map__map > * {
        max-height: 100%;
    }
    .price__container {
        padding-bottom: 70px;
}   
}

/*? -----FOOTER-------------------------------- */

.footer {
    padding-bottom: 30px;
}
.footer__container {
    display: flex;
    justify-content: flex-start;
}
.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}
@media screen and (max-width: 1200px) {
    .footer__container {
        justify-content: center;
    }
}